$rad-light: 10px;
$rad-smooth: 25px;
$back-color: #FFF7F1;
$primary-color: #5D4954;
$warning-color: #FF6F59;
$dark-select-color: #002A22;
$light-select-color: #306B34;
$alternative-color: #247BA0;
$hmin: 30vh;
$wmin: 20vw;